.icon-button{
	width: clamp(27px, 2.67vw, 40px);
}

.logo {
	width: clamp(133px, 13.33vw, 200px);
	height: clamp(67px, 6.67vw, 100px);
	min-width: 133px;
}

.container{
	padding: 0 clamp(10px, 3.33vw, 50px);
}