.icon-button {
	width: clamp(27px, 2.67vw, 40px);
}

.logo {
	width: clamp(100px, 10.33vw, 200px);
	height: clamp(67px, 6.67vw, 100px);
	min-width: 100px;
}

.container {
	padding: 0 clamp(10px, 3.33vw, 50px);
}

button:hover {
	color: var(--decore-color);
	transition: 0.5s;
	transform: scale(1.01);
}
input {
	background-color: var(--bg-color);
}
