@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
*,
*::after,
*::before,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body,
#root {
	height: 100vh;
}

body {
	font-family: "Zain", sans-serif;
	font-weight: 400;
	font-size: clamp(16px, 1.25vw, 20px);
	color: black;
	display: flex;
	flex-direction: column;
	background-image: url(assets/bgi.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
section{
	height: 100%;
}
h1 {
	font-size: clamp(18px, 1.39vw, 20px);
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
input {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
}
button {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	white-space: nowrap;
	border: none;
	padding: 0;
	cursor: pointer;
}
li {
	list-style: none;
}
img {
	width: 100%;
}
