.users {
	.table {
		width: 60%;
		margin: 0 auto;
		&__header {
			display: grid;
			grid-template-columns: 1fr 1.5fr 1.3fr;
			padding: clamp(7px, 0.69vw, 10px) 0 clamp(7px, 0.69vw, 10px)
				clamp(15px, 1.53vw, 22px);
		}
		&__body {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}
	}
    font-size: clamp(18px, 1.39vw, 20px);
}
.userRow {
	&__buttons{
		margin-left: 15px;
	}
	&__info {
		display: grid;
		grid-template-columns: 1fr 1.5fr 1fr;
		border: 1px solid black;
		width: 100%;
		padding: clamp(7px, 0.69vw, 10px) 0 clamp(7px, 0.69vw, 10px)
			clamp(15px, 1.53vw, 22px);
		align-items: center;
	}
}
